<md-card (click)="toggleCard()" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap="nowrap">
    <span class="recipe-name">{{ recipe?.name }}</span>
    <button md-icon-button [mdMenuTriggerFor]="menu" (click)="openMenu($event)">
      <md-icon>more_vert</md-icon>
    </button>
</md-card>

<md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/edit', recipe.$key]">
      <md-icon>edit</md-icon>
      <span>Edit</span>
    </button>
    <button md-menu-item>
      <md-icon>delete</md-icon>
      <span>Delete</span>
    </button>
</md-menu>